{
  "extends": "airbnb",
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 6,
      "impliedStrict": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/no-access-state-in-setstate": "off",
    "no-console": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/no-unused-state": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-debugger": "off",
    "no-unneeded-ternary": "off",
    "prefer-template": "off"


  },
  "globals": {
    "Cypress": true,
    "cy": true,
    "document": true,
    "window": true,
    "fetch": true
  }
}