/* /* font-family: 'Cormorant Garamond', serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Cabin', sans-serif; */
/* font-family: 'Proza Libre', sans-serif; */

.error{
  font-size: 8px; 
  color: red;
  font-weight: bold;
}

.error-boarder{
  border-color: red;
}

.footer {
  background-color: #fafafa;
  padding: 1rem 1.5rem 1rem;
  font-size: 11px; 
}